
body {
  background-color: #8F4426;

}

 .frame{
   background-color: #8F4426;
 }


.img{
  text-align: center;
  display: inline-block;



}
.top-container{
  position: absolute;
}

 .container {
  width: 100%;
  padding-bottom: 10%;
  text-align: center;
  background-color: #8F4426;


}


.container .img1{
  width: 100%;
  height: auto;
  padding-bottom: 10%;
  text-align: center;
  border-radius: 50%;



}


.container .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #64ccda;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;

}

.container .btn:hover {
  background-color: #DE6B35;
}


.container-img2 .rune {
  margin: 10% 30%;
  padding-bottom: 50%;
}

.rbtn{
  margin: 10%;
  font-family: 'Indie Flower', cursive;
  padding: 30% 20%;
}


.container-btn .rbtn:hover {
background-color: #DE6B35;

}


h1 {
  margin: 40px;
  padding: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 90rem;
  font-weight: bolder;
  color: #64CCDA;
  text-align: center;

}


h3{
  font-family: 'Indie Flower', cursive;
  color: #64CCDA;
  font-size: 15rem;
}

p {
  font-size: 1.5rem;
  color: #64CCDA;
  font-family: 'Indie Flower', cursive;
  font-weight:100;

}

.instruct{
  padding: 5% 20%;
}


.img1{
 margin: auto;
 padding: 15%;
 text-align: center;
 border-radius: 100%;
 position: relative;
}


.answer{
  padding: 10% 20%;
}


.result{
  text-align: center;
}

.img2{
 margin: auto;
 padding: 5%, 2.5%;
 text-align: center;
 height: 150px;
 width: 500px;
 position: relative;

}




.bottom-container{
  background-color: #DE6b35;
  margin:  auto;
  padding: auto;
  text-align: center;

}



.row {
 text-align: center;

}

.icon {
  color: #f9b282;
  margin: 5rem;
  text-align: center;
}

.icon:hover{
  color: white;
}

.share-text{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size:  5rem;
  text-align: center;

}

.share-descr{
  color: #64ccda;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  text-align: center;


}
.ftnote{
  color: #64ccda;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #8F4426;
  font-size: 1rem;
}
footer {
  margin: auto;
  color: #64ccda;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #8F4426;

}
